{% extends "news/base.html" %}
{% load static %}
{% block title %} Admin Page {% endblock title %}
{% block content %}
<h1 class="text-center">Admin sahifasi</h1>
<h3>Barcha adminlar</h3>
<table class="table table-striped table-responsive table-bordered table-hover">
    <tr>
        <th>Username</th>
        <th>Ismi</th>
        <th>Familyasi</th>

    </tr>
    {% for user in admin_user %}
    <tr>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>

    </tr>
    {% endfor %}
</table>
<h2 class="text-primary"><a href="{% url 'create_news_page' %}">Yangilik qo'shish</a></h2>
{% endblock content %}
