{% extends 'news/base.html' %}
{% load static %}
{% block title %} User Profile {% endblock title %}
{% block content %}
<div class="container">
    <h3 class="text-center">Xush kelibsiz, {{user.username}}</h3>
    <h4><a href="{% url 'logout' %}" class="text-danger">Log out</a></h4> <br>
    <div class="row ">
        <div class="col-5 " style="display: inline-block">
            <img src="{{profile.photo.url}}" width="30%"><br>

        </div>
        <div class="col-5 " style="display: inline-block">
            <h3>Siz haqingizdagi ma'lumotlar</h3>
            <h5>Tug'ulgan yilingiz: {{profile.date_of_birth}}</h5>
            <label>Username:</label> <input value="{{user.username}} " readonly placeholder="no info"> <br>
            <label>Email:</label> <input value="{{user.email}} " readonly placeholder="no info"><br>
            <label>Ismingiz:</label> <input value="{{user.first_name}} " readonly placeholder="no info"><br>
            <label>Familyangiz:</label> <input value="{{user.last_name}} " placeholder="no info" readonly><br>
            <h5>
                <a href="{% url 'password_change'%}" style="color:red">Parolni o'zgartirish</a> |
                <a href="{% url 'edit_user_info'%}" style="color:red">Profilni o'zgartirish</a>
            </h5>
        </div>
    </div>
</div>
{% endblock content %}
