{% extends 'news/base.html' %}
{% load static %}
{% block title %} Create news {% endblock title %}
{% block content %}
<div class="container">
    <h2 class="text-center">Yangilik qo'shish</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
         <button type="submit" class="btn btn-info">Create</button>
    </form>

</div>
{% endblock content %}