{% extends 'news/base.html' %}
{% load static %}
{% block title %} {{news_list.title}} 
{% endblock title %}
{% block content %}

<div class="conttainer">
    <h2 class="text-center">Joriy yangilikni o'chirish</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>{{news.title|truncatewords:5}}... sarlovhali yangilikni o'chirmoqchimisiz</p>
        <button type="submit" class="btn btn-danger ml-2" style="float:right">Delete</button>
    </form>

</div>
    
{% endblock content %}