{% extends 'news/base.html' %}
{% load static %}
{% block title %} {{news.title}} {% endblock title %}
{% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-info">Update</button>
    </form>
</div>
    
{% endblock content %}