{% extends "news/base.html" %}
{% block title %} Profile Edite {% endblock title %}
{% load static %}
{% block content %}
<h1 class="text-center">Profilni tahrirlash</h1>
<p>Siz o'zingiz haqingizdagi ma'lumotlarni quydagi forma orqali o'zgartirish mumkun:</p>
<form action="" method="post" enctype="multipart/form-data">{%csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
    <button type="submit" class="btn btn-info">Tahrirlash</button>
</form>

{% endblock content %}