{% extends "news/base.html" %}
{% block title %} Muvoffaqiyatli ro'yxatdan o'tdingiz {% endblock title %}
{% load static %}
{% block content %}
<h1 class="text-center">{{new_user.first_name}},tabriklaymiz ro'yxatdan o'tdingiz.</h1>
<p>Muvoffaqiyatli ro'yxatdan o'tdingiz!</p>
<p>Endi saytga kirishingiz mumkun <a href="{% url 'login_page' %}" style="color:#2F4F4F">login</a> qilishingiz mumkun</p>

{% endblock content %}