{% extends "news/base.html" %}
{% block title %} Foydalanivchilarni ro'yxatdan o'tkazish {% endblock title %}
{% load static %}
{% block content %}
<h1 class="text-center">Foydalanivchilarni ro'yxatdan o'tkazish</h1>
<p>Ro'yxatdan o'tish uchun quydagi formani to'ldiring.</p>
<form action="" method="post">{%csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-info">Ro'yhatdan o'tish</button>
</form>

{% endblock content %}