{% extends "news/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% blocktrans %} Bosh sagifa {% endblocktrans %}
{% endblock title %}


{% block content %}
<section id="sliderSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                {% for news in news_list %}
                <div class="single_iteam"><a href="{{news.get_absolute_url}}"> <img
                        src="{{news.image.url}}"
                        alt=""></a>
                    <div class="slider_article">
                        <h2><a class="slider_tittle" href="{{news.get_absolute_url}}">{{news.title|truncatewords:5}}</a>
                        </h2>
                        <p>{{news.title}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">
                <h2><span>{% blocktrans %}So'ngi yangiliklar{% endblocktrans %}</span></h2>
                <div class="latest_post_container">
                    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                    <ul class="latest_postnav">
                        {% for news in news_list %}

                        <li>
                            <div class="media"><a href="{{news.get_absolute_url}}" class="media-left"> <img alt=""
                                                                                                            src="{{news.image.url}}">
                            </a>
                                <div class="media-body"><a href="{{news.get_absolute_url}}" class="catg_title">
                                    {{news.title|truncatewords:5}}</a></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_post_content">
                    <h2><span>{% blocktrans %}Mahalliy {% endblocktrans %}</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav  wow fadeInDown">
                            {% for local in local_list %}
                            {% if forloop.first %}


                            <li>
                                <figure class="bsbig_fig"><a href="{{local.get_absolute_url}}" class="featured_img">
                                    <img alt="" src="{{local.image.url}}"> <span
                                        class="overlay"></span> </a>
                                    <figcaption><a
                                            href="{{local.get_absolute_url}}">{{local.title|truncatewords:10}}</a>
                                    </figcaption>
                                    <p>{{local.title}}</p>
                                </figure>
                            </li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            {% for mahalliy in local_list %}
                            {% if forloop.counter > 1 %}

                            <li>
                                <div class="media wow fadeInDown"><a href="{{mahalliy.get_absolute_url}}"
                                                                     class="media-left"> <img alt=""
                                                                                              src="{{mahalliy.image.url}}">
                                </a>
                                    <div class="media-body"><a href="{{mahalliy.get_absolute_url}}" class="catg_title">{{mahalliy.title|truncatewords:5}}</a>
                                    </div>
                                </div>
                            </li>
                            {% endif %}

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="fashion_technology_area">
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2><span>{% blocktrans %}Xorij{% endblocktrans %}</span></h2>
                            <ul class="business_catgnav wow fadeInDown">
                                {% for xorij in xorij_list %}
                                {% if forloop.first %}
                                <li>
                                    <figure class="bsbig_fig"><a href="{{xorij.get_absolute_url}}" class="featured_img">
                                        <img alt="" src="{{xorij.image.url}}"> <span
                                            class="overlay"></span>
                                    </a>
                                        <figcaption><a href="{{xorij.get_absolute_url}}">{{xorij.title | truncatewords:7
                                            }}</a></figcaption>
                                        <p>{{xorij.body|truncatewords:20}}</p>
                                    </figure>
                                </li>

                                {% endif %}

                                {% endfor %}

                            </ul>
                            <ul class="spost_nav">
                                {% for xorij in xorij_list %}
                                {% if forloop.counter > 1 %}
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="{{xorij.get_absolute_url}}" class="media-left">
                                            <img alt="" src="{{xorij.image.url}}">
                                        </a>
                                        <div class="media-body">
                                            <a href="{{xorij.get_absolute_url}}" class="catg_title">
                                                {{xorij.title|truncatewords:5}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}


                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2><span>{% blocktrans %}Texnologiya{% endblocktrans %}</span></h2>
                            <ul class="business_catgnav">
                                {% for texnologiya in texnologiya_list %}
                                {% if forloop.first %}
                                <li>
                                    <figure class="bsbig_fig wow fadeInDown">
                                        <a href="{{texnologiya.get_absolute_url}}" class="featured_img">
                                            <img alt="" src="{{texnologiya.image.url}}">
                                            <span class="overlay"></span> </a>
                                        <figcaption><a href="{{texnologiya.get_absolute_url}}">{{texnologiya.title|truncatewords:7}}</a>
                                        </figcaption>
                                        <p>{{texnologiya.body|truncatewords:15}}</p>
                                    </figure>
                                </li>

                                {% endif %}

                                {% endfor %}
                            </ul>
                            <ul class="spost_nav">
                                {% for texnologiya in texnologiya_list %}
                                {% if forloop.counter > 1 %}
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="{{texnologiya.get_absolute_url}}" class="media-left">
                                            <img alt="" src="{{texnologiya.image.url}}">
                                        </a>
                                        <div class="media-body">
                                            <a href="{{texnologiya.get_absolute_url}}" class="catg_title">{{texnologiya.title|truncatewords:5}}</a>
                                        </div>
                                    </div>
                                </li>

                                {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2><span>{% blocktrans %}Photography{% endblocktrans %}</span></h2>
                    <ul class="photograph_nav  wow fadeInDown">
                        {% for photo in news_list %}
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla">
                                    <a class="fancybox-buttons" data-fancybox-group="button" href="{{photo.image.url}}"
                                       title="{{photo.title}}">
                                        <img src="{{photo.image.url}}" alt=""/>
                                    </a>
                                </figure>
                            </div>
                        </li>


                        {% endfor %}

                    </ul>
                </div>
                <div class="single_post_content">
                    <h2><span>{% blocktrans %}Sport{% endblocktrans %}</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav">
                            {% for sport in sport_list %}
                            {% if forloop.first %}
                            <li>
                                <figure class="bsbig_fig  wow fadeInDown">
                                    <a class="featured_img" href="{{sport.get_absolute_url}}">
                                        <img src="{{sport.image.url}}" alt="">
                                        <span class="overlay"></span>
                                    </a>
                                    <figcaption>
                                        <a href="{{sport.get_absolute_url}}">{{sport.title|truncatewords:7}}</a>
                                    </figcaption>
                                    <p>{{sport.body|truncatewords:15}}</p>
                                </figure>
                            </li>

                            {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            {% for sport in sport_list %}
                            {% if forloop.counter > 1 %}
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="{{sport.get_absolute_url}}" class="media-left">
                                        <img alt="" src="{{sport.image.url}}">
                                    </a>
                                    <div class="media-body">
                                        <a href="{{sport.get_absolute_url}}" class="catg_title">{{sport.title|truncatewords:7}}</a>
                                    </div>
                                </div>
                            </li>

                            {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>{% blocktrans %}Ommobob{% endblocktrans %}</span></h2>
                    <ul class="spost_nav">
                        <li>
                            <div class="media wow fadeInDown"><a href="pages/single_page.html" class="media-left">
                                <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                                <div class="media-body"><a href="pages/single_page.html" class="catg_title"> Aliquam
                                    malesuada diam eget turpis varius 1</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media wow fadeInDown"><a href="pages/single_page.html" class="media-left">
                                <img alt="" src="{% static 'images/post_img2.jpg'  url %}"> "</a>
                                <div class="media-body"><a href="pages/single_page.html" class="catg_title"> Aliquam
                                    malesuada diam eget turpis varius 2</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media wow fadeInDown"><a href="pages/single_page.html" class="media-left">
                                <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                                <div class="media-body"><a href="pages/single_page.html" class="catg_title"> Aliquam
                                    malesuada diam eget turpis varius 3</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media wow fadeInDown"><a href="pages/single_page.html" class="media-left">
                                <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                                <div class="media-body"><a href="pages/single_page.html" class="catg_title"> Aliquam
                                    malesuada diam eget turpis varius 4</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="single_sidebar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab"
                                                                  data-toggle="tab">Category</a></li>
                        <li role="presentation"><a href="#video" aria-controls="profile" role="tab"
                                                   data-toggle="tab">Video</a></li>
                        <li role="presentation"><a href="#comments" aria-controls="messages" role="tab"
                                                   data-toggle="tab">Comments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="category">
                            <ul>
                                {% for category in categories %}


                                <li class="cat-item"><a href="#">{{category.name}}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="video">
                            <div class="vide_area">
                                <iframe width="100%" height="250"
                                        src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="comments">
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown"><a href="pages/single_page.html"
                                                                         class="media-left"> <img alt=""
                                                                                                  src="{% static 'images/post_img1.jpg' %}">
                                    </a>
                                        <div class="media-body"><a href="pages/single_page.html" class="catg_title">
                                            Aliquam malesuada diam eget turpis varius 1</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown"><a href="pages/single_page.html"
                                                                         class="media-left"> <img alt=""
                                                                                                  src="{% static 'images/post_img2.jpg' %}">
                                    </a>
                                        <div class="media-body"><a href="pages/single_page.html" class="catg_title">
                                            Aliquam malesuada diam eget turpis varius 2</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown"><a href="pages/single_page.html"
                                                                         class="media-left"> <img alt=""
                                                                                                  src="{% static 'images/post_img1.jpg' %}">
                                    </a>
                                        <div class="media-body"><a href="pages/single_page.html" class="catg_title">
                                            Aliquam malesuada diam eget turpis varius 3</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown"><a href="pages/single_page.html"
                                                                         class="media-left"> <img alt=""
                                                                                                  src="{% static 'images/post_img2.jpg' %}">
                                    </a>
                                        <div class="media-body"><a href="pages/single_page.html" class="catg_title">
                                            Aliquam malesuada diam eget turpis varius 4</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>{% blocktrans %}Sponsor{% endblocktrans %}</span></h2>
                    <a class="sideAdd" href="#">
                        <img src="{% static 'images/add_img.jpg' %}" alt="">
                    </a>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>{% blocktrans %}Barcha kategoriyalar{% endblocktrans %}</span></h2>
                    <select class="catgArchive">
                        <option>{% blocktrans %}Kategoryani tanlang{% endblocktrans %}</option>
                        {% for category in categories %}
                        <option>{{category.name}}</option>

                        {% endfor %}


                    </select>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Links</span></h2>
                    <ul>
                        <li><a href="#">{% blocktrans %} Blog {% endblocktrans %}</a></li>
                        <li><a href="#">{% blocktrans %} Rss Feed {% endblocktrans %}</a></li>
                        <li><a href="#"> {% blocktrans %} Login {% endblocktrans %}</a></li>
                        <li><a href="#"> {% blocktrans %} Life &amp; Style {% endblocktrans %}</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock content %}  
