{% extends 'news/base.html' %}
{% load static %}
{% block title %}

{{news.title}}

{% endblock title %}
{% block content %}
<h2>{{news.title}}</h2> <br>
<h5>{{news.publish_time}}</h5> <br>
<img src="{{news.image.url}}" alt="">
<p>{{news.body}}</p>
{% if request.user.is_superuser and request.user.is_authenticated %}

<div class="text-center">
    <a href="{% url 'news_edit_page' news.pk%}">
        <button class="btn btn-info" style="width: 100px;">Edit</button>
    </a>
    <a href="{% url 'news_delete_page' news.pk %}">
        <button class="btn btn-danger" style="width: 100px;">Delete</button>
    </a>

</div>

{% endif %}
<p>comments:{{comment_count}}</p>



{% for comment in comments %}
<div class="comments" style="padding:10px">
    <p class="font-weight-bold">
        {{comment.user}}
    </p>
    <span class="text-muted font-weight-normal">
        {{comment.create_time}}
    </span>
    <p>
        {{comment.body | linebreaks}}
    </p>
</div>
{% endfor %}
{% if request.user.is_authenticated %}
<div class="col-md-8 card mb-4 mt-3">
    <div class="card-body">
        <h4>Izoh qoldirish</h4>
        <form action="" method="post">{% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </form>
    </div>
</div>
{% endif%}
{% endblock content %}
