{% extends 'news/base.html' %}
{% load static %}
{% block title %} Result search {% endblock title %}
{% block content %}
<h3>Qidiruv natijalari</h3>
{% for news in all_news  %}
<h4><a href="{% url 'detail_page' news.slug %} " class="text-danger">{{news.title}}</a></h4>
<p><img src="{{news.image.url}}" width="25%"></p>
<p>{{news.body | truncatewords:25}}</p>

{% endfor %}

{% endblock content %}