{% extends 'news/base.html' %}
{% load static %}
{% block title %} Logged out page {% endblock title %}
{% block content %}
<div class="container">
    <h2 class="text-center">Logout page</h2>
    <p>Siz saytdan chiqdingiz. Saytga kirish uchun <a href="{% url 'login_page' %}" style="color:blue">login</a> qiling. </p>

</div>

{% endblock content %}