{% extends 'news/base.html' %}
{% load static %}
{% block title %} Login page {% endblock title %}
{% block content %}
<div class="container">
    <h2 class="text-center">Login</h2>
    <h5>Parolingizni unutgan bo'lsangiz uni <a href="{% url 'password_reset' %}">tiklang</a></h5>
    <form action="" method="post"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Sign In</button>
    </form>
    <h5> Agarda avval ro'yhatdan o'tmagan bo'lsangiz oldin r'yxatdan o'ting! <a href="{% url 'user_register' %}" style="color:blue">Sign
        Up</a></h5>
</div>

{% endblock content %}