{% extends 'news/base.html' %}
{% load static %}
{% block title %} Password change done {% endblock title %}

{% block content %}
<h1 class="text-center">User password changed.</h1>
    <p>{{request.user.username}}, Your password has been successfully changed.</p>
    
{% endblock content %}