{% extends 'news/base.html' %}
{% load static %}
{% block title %} Password change {% endblock title %}

{% block content %}
<h1 class="text-center">Parolni almashtirish</h1>
<p>Parolni o'zgartirish uchun, quydagi formani to'ldiring.</p>
<form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <p>
        <button type="submit" class="btn btn-info">change password</button>
    </p>

</form>

{% endblock content %}