{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchi parolni tiklash {% endblock title%}
{% block content %}
<h1 class="text-center">Parolni tiklash</h1>
<p>Parolingizni tiklash uchun quydagi formani to'ldiring. </p>
{% if validlink %}
<p>Iltimos yangi parolni ikki marotaba kiriting.</p>
<form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <p>
        <button type="submit" class="btn btn-info">Parolni o'zgartirish</button>
    </p>
</form>
{% else %}
<p>Siz noto'g'ri linkdan foydalandiz.</p>
{% endif %}
{% endblock content %}