{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchi paroli muvafaqiyatli o'zgartirildi {% endblock title%}
{% block content %}
<h1 class="text-center">Parolni tiklash</h1>
<p>Parolingiz muvafaqiyatli o'zgartirildi</p>
<p>Sizning parolingiz qayta tiklandi. Endi qaytadan <a href="{% url 'login_page'%}">login</a> qilishingiz mumkun!</p>
{% endblock content %}