{% extends 'news/base.html' %}
{% load static %}
{% block title %} Parolni o'zgartirish {% endblock title%}
{% block content %}
<h1 class="text-center">A password reset email has been sent</h1>
<p>Parolingizni o'zgartirish uchun sizning emailingizga parolni tiklash uchun link yuborildi. </p>
<p>Agar siz emailni qabul qilmagan  bo'lsangiz, qaytadan urunib ko'ring.</p>

{% endblock content %}