{% extends 'news/base.html' %}
{% load static %}
{% block title %} Parolni tiklash {% endblock title%}
{% block content %}
<h1 class="text-center">Parolni tiklash</h1>
<p>Parolingizni tiklash uchun e-mail adresingizni kiriting:</p>

<form action="" method="post"> {% csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-info">Send to e-mail</button>
</form>
{% endblock content %}